.content {
  background-color: var(--color-gray-1);

  &__nocontent {
    color: var(--color-gray-4);
    padding: var(--spacing-xl);

    &__leftside {
      --width: 12;
    }

    &__rightside {
      margin: 0 auto;
    }

    &__title {
      font-weight: bold;
      margin-bottom: var(--spacing-md);
    }

    &__info {
      font-weight: 400;
      line-height: 27px;
      margin-bottom: var(--spacing-xl);
    }
  }

  &__sugestions {
    &__header {
      --width: 12;
      margin: var(--spacing-xl) var(--spacing-xl) var(--spacing-md)
        calc(var(--spacing-xl) + var(--spacing-md));

      &-title {
        font-size: 40px;
        line-height: 49px;
        font-weight: 700;
        margin-top: var(--spacing-md);
      }
    }

    &__content {
      --width: 12;
      overflow-x: scroll;

      &__container {
        padding: 0 var(--spacing-xl) 62px var(--spacing-xl);
        display: inline-flex;
        flex-wrap: nowrap;

        &-item {
          min-width: 258px;
          max-width: 258px;
        }

        > :not(:last-child) {
          margin-right: var(--spacing-md);
        }
      }
    }

    &__footer {
      --width: 12;
      padding: 0 32px 62px;
    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    &__nocontent {
      &__leftside {
        --width: 8;
      }

      &__rightside {
        --width: 4;
        display: flex;
        margin: auto 0;
      }

      &__info {
        font-weight: 400;
        line-height: 27px;
        margin-bottom: var(--spacing-xl);
        width: 220px;
      }
    }

    &__sugestions {
      &__header {
        --width: 12;
        padding: 0;
        margin: 32px 0 54px 0;

        img {
          width: 158px;
          height: 78px;
          margin-bottom: 20px;
        }

        &-title {
          font-weight: 700;
          font-size: 55px;
          line-height: 67px;
          margin: 0;
          padding: 0;
        }
      }

      &__content {
        --width: 12;

        &__container {
          display: grid;
          gap: 25px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding: initial;
          margin-bottom: 60px;

          > :not(:last-child) {
            margin-right: initial;
          }

          &-item {
            display: flex;
            min-width: initial;
            max-width: initial;

            &--favourite {
              grid-column-start: 1;
              grid-column-end: 3;
              grid-row-start: 1;
              grid-row-end: 3;
            }
          }
        }
      }

      &__footer {
        --width: 12;
        padding: 0 0 62px;
      }
    }
  }
}
