.question-form {
  background-color: var(--color-white);
  padding: var(--spacing-md) var(--spacing-xl) var(--spacing-xl);
  font-size: var(--font-size-md);

  > .question-list {
    color: var(--color-gray-5);
    list-style: none;
    counter-reset: li;
    margin-block: 0;
    padding-inline: 0;
  }

  > .question-list .question-item {
    counter-increment: li;
    padding-top: 90px;
    position: relative;

    &:before {
      content: counter(li) ".";
      font-weight: bold;
    }

    &:not(:first-child) {
      margin-top: var(--spacing-xl);
    }

    .item-image {
      position: absolute;
      left: 0;
      top: 0;
    }

    .item-content {
      // TODO: fix this padding
      padding-right: 40px;
    }

    .item-option {
      margin: var(--spacing-lg) 0;
      width: 100%;
    }
  }
}
