@use "normalize.css";
@use "base/variables";
@use "base/grid";
@use "base/typography";
@use "components/button";
@use "components/dropdown";
@use "components/card";
@use "layout/hero";
@use "layout/form";
@use "layout/content";

body {
  font-family: "Montserrat", sans-serif;
  background-color: green;
}

.hidden {
  display: none !important;
}
