.font {
  font-family: var(--base-font);

  &-light {
    font-weight: 300;
  }

  &-bold {
    font-weight: 700;
  }

  &-semi-bold {
    font-weight: 600;
  }

  &-size-normal {
    font-size: 14px;
  }

  &-size-large {
    font-size: 40px;
  }
}
