:root {
  /* color */
  --color-white: #FFF;
  --color-black: #000;
  --color-gray-1: #F2F2F2;
  --color-gray-2: #DBDBDB;
  --color-gray-3: #A8A8A8;
  --color-gray-4: #A9A9A9;
  --color-gray-5: #848484;
  --color-gray-6: #797979;
  --color-gray-7: #6E6E6E;
  --color-green-1: #75BC97;
  --color-green-2: #257556;
  --color-green-3: #1E6B4E;
  --color-green-4: #1A825A;
  --color-green-5: #15573F;
  --color-green-6: #0C261C;
  --color-salmon-1: #FD9872;
  --primary-color: var(--color-green-5);
  --secondary-color: var(--color-salmon-1);
  --thertiary-color: var(--color-green-1);

  /* fonts */
  --base-font: "Montserrat", sans-serif;

  /* grid */
  --desktop-width: 900px;
  --mobile-width: 320px;
  --grid-columns: 12;

  /* spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
