:root {
  /* color */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-1: #f2f2f2;
  --color-gray-2: #dbdbdb;
  --color-gray-3: #a8a8a8;
  --color-gray-4: #a9a9a9;
  --color-gray-5: #848484;
  --color-gray-6: #797979;
  --color-gray-7: #6e6e6e;
  --color-green-1: #75bc97;
  --color-green-2: #257556;
  --color-green-3: #1e6b4e;
  --color-green-4: #1a825a;
  --color-green-5: #15573f;
  --color-green-6: #0c261c;
  --color-salmon-1: #fd9872;
  --primary-color: var(--color-green-5);
  --secondary-color: var(--color-salmon-1);
  --thertiary-color: var(--color-green-1);

  /* fonts */
  --base-font: "Montserrat", sans-serif;

  /* grid */
  --desktop-width: 900px;
  --mobile-width: 320px;
  --grid-columns: 12;

  /* spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
